body{
    background-color: lightsteelblue;
}
#chat{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: lightsteelblue;
    overflow-y: scroll;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div > div{
    margin: 30px;
}

span{
    margin-right: 20px;
    font-style: italic;
    font-size: 80%;
}

span + span{
    font-style: normal;
    font-weight: 800;
    float: right;
}

.mensaje{
    font-size: 150%;
    font-style: normal;
}

.cajaMensaje{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    width: 400px;
    float: left;
    clear: both;
}

.cajaMiMensaje{
    background-color:lightsalmon;
    padding: 20px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    width: 400px;
    float: right;
    clear: both;
}

textarea{
    resize: none;
    height: 35px;
    border-radius: 20px;
    width: 72%;
    padding: 10px;
    margin: 0;
    float: right;
}

#txtUsuario{
    border-radius: 20px;
    height: 50px;
    margin: 0;
    width: 22%;
    float: left;
}

form{
    margin: 0;
    background-color: lightsteelblue;
}

.visible{
    visibility: visible;
}

.noVisible{
    visibility: hidden;
}

.fotoChat{
    width: 80%;
    height: 80%;
}

#imagenPre{
    float: right;
    width: 15%;
    height: 15%;
}

input{
    clear: both;
}

.subirImagen{
    clear: both;
}

#enviar{
    border-radius: 20px;
}